.Status_Bar {
    display: flex;
    text-align: center;
    padding: 30px 20px;
    background: #008000a2;
    height: 75px;
    justify-content: center;
    align-items: center;
}

.taxed {
    padding: 0px 10x;
    width: 100%;
    li {
        list-style: none;
        border-bottom: 1px solid #999999;
        padding: 5px;
        width: 100%;
        .taxed__span {
            width: 50%;
        }
        .taxed__json {
            width: 50%;
            padding-left: 50px;
        }
    }
    
    li:last-child {
        border-bottom: none;
    }
}