.success {
    background : green;
}

.fail {
    background: red;
}

.hidden{
    display: none;
}
.mleft{
    margin-left: 20px;
}

.label{
    text-align: center;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    font-size: 25px;
    color: #0bb8cc;
}
.status{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content:  space-between;
}

.mb-15 {
    margin-bottom: 15px;
}
td{
    text-align: center;
    border: 1px solid #5e79ff;
}
tr{
    border: 1px solid #5e79ff;
}
table{
    width: 100%;
}
.red {
    background: red;
}
.colourRed {
    color: red;
    margin: 0 10px;
}
.colourGreen {
    color: #1ac627;
    margin: 0 10px;
}
.logo{
    display: block;
    margin-left: 10px;
}
.recall {
    margin-bottom: 20px;
    border-bottom: 0.5px solid gainsboro;
}
.mleft-10 {
    margin-left: 10px;
    margin-right: 10px;
}

